# A Portuguese Merchant Network in the Initial Times of the Manila Galleon System

In [1]:
import re

import pandas as pd

In [2]:
pd.set_option('display.max_rows', 100)

## Loading data

In [3]:
col_names = [
    'NAME',
    'COUNTRY_ORIGIN',
    'LOCATION',
    'PROFESSION_EDUCATION',
    'RELATION',
    'CONTACTS',
    'INQUISITION_TRIAL',
    'SENTENCES',
]
df = pd.read_excel('data/src/NetworkParticipants.xlsx', names=col_names)
df.fillna('', inplace=True)

In [4]:
df.shape

(84, 8)

In [5]:
df.head()

,NAME,COUNTRY_ORIGIN,LOCATION,PROFESSION_EDUCATION,RELATION,CONTACTS,INQUISITION_TRIAL,SENTENCES
0,"Almeida, Jorge de",Portugal,"Ferrara, Pachuca, Madrid","Business partner of Díaz de Cáceres, Mines of ...","Invested 1,600 in the ship Nuestra Señora de l...",,,
1,"Anbrozio, Mestre Xrováo",Portugal,Canton,Merchant,Business Partner with Diege Hernández Victoria...,,,
2,"Andrada (Carvajal), Leonor de",Spain,Mexico,Housewife,Married to Joge de Almeida,"António Díaz de Cáceres, Luis de Carvajal, Lui...","AGN, Inquisición, vol.12, exp 2.",
3,"Baeça, Pedro",Portugal,"Goa, Melaka, Macao, Nagasaki, Manila",Official /Ship Pilot / Shipowner / Merchant,Business Partner with BVL,Bartolomé Báez Landero,,
4,"Báez Landero, Bartolomé. (Bartolomeu Vaz Lande...",Portugal,"Macao, Manila",Merchant / Shipowner/,Business Partner,"Sebastiāo Jorge, Antonio Vaz, Henrique Borges,...",,

## Preprocessing data

In [6]:
def name_and_notes(x):
    notes = re.findall('\(.+\)', x)
    if not notes:
        notes = ''
        name = x
    else:
        notes = notes[0]
        name = x.replace(notes, '')
    notes = notes.strip('()')
    if ',' in name:
        last = name.split(',')[0].strip(' .')
        first = name.split(',')[1].strip(' .')
    else:
        first, last = name.split()
    fullname = first + ' ' + last
    return pd.Series((fullname, notes, first, last))

df[['FULLNAME', 'NAME_NOTES', 'FIRST_NAME', 'LAST_NAME']] = df.NAME.apply(name_and_notes)
df.drop('NAME', axis=1, inplace=True)

In [7]:
def country_and_notes(x):
    x = x.strip()
    if x == 'Braganza':
        country = 'Portugal'
        notes = 'Bragança'
        place = 'Braganza'
    elif x == 'Canaries':
        country = 'Spain'
        notes = ''
        place = 'Canaries'
    elif x == 'Freixo de Espadacinta, Portugal':
        country = 'Portugal'
        notes = ''
        place = 'Freixo de Espadacinta'
    elif x == 'Jerez de la Frontera':
        country = 'Spain'
        notes = ''
        place = 'Jerez de la Frontera'
    elif x == 'Jerez de la Frontera, Spain (Tunez)':
        country = 'Spain'
        notes = 'Tunez'
        place = 'Jerez de la Frontera'
    elif x == 'Lisbon':
        country = 'Portugal'
        notes = ''
        place = 'Lisbon'
    elif x == 'Portugal ?':
        country = 'Portugal'
        notes = '?'
        place = ''
    elif x == 'Province of La Guarda':
        country = 'Portugal'
        notes = ''
        place = 'Province of La Guarda'
    elif x == 'San Vicente Davera, Province of La Guarda':
        country = 'Portugal'
        notes = 'San Vicente Davera'
        place = 'Province of La Guarda'
    elif x == 'Santa Comba Dāo, Portugal':
        country = 'Portugal'
        notes = ''
        place = 'Santa Comba Dāo'
    elif x == 'Spain (?)':
        country = 'Spain'
        notes = '?'
        place = ''
    elif x == 'Spain ?':
        country = 'Spain'
        notes = '?'
        place = ''
    elif x == 'Spain?':
        country = 'Spain'
        notes = '?'
        place = ''
    elif x == 'Unknown':
        country = ''
        notes = ''
        place = ''
    elif x == 'Viseu, Portugal':
        country = 'Portugal'
        notes = ''
        place = 'Viseu'
    else:
        country = x
        notes = ''
        place = ''
        
    return pd.Series((country, notes, place))

df[['COUNTRY_ORIGIN', 'COUNTRY_NOTES', 'PLACE_ORIGIN']] = df.COUNTRY_ORIGIN.apply(country_and_notes)

In [8]:
def location_and_notes(x):
    x = x.strip()
    if x == 'Cartagena , Mexico (1594)':
        location = 'Cartagena, Mexico'
        notes = '1594'
    elif x == 'Goa, Macao, Manila (1595-1597)':
        location = 'Goa, Macao, Manila'
        notes = '1595-1597'
    elif x == 'Manila / Japan':
        location = 'Manila, Japan'
        notes = ''
    elif x == 'Manila / Mexico':
        location = 'Manila, Mexico'
        notes = ''
    elif x == 'Manila Mexico':
        location = 'Manila, Mexico'
        notes = ''
    elif x == 'Melaka, 1595':
        location = 'Melaka'
        notes = '1595'
    elif x == 'Tlahuililpa, a mine near Pachuca':
        location = 'Tlahuililpa'
        notes = 'A mine near Pachuca'
    else:
        location = x
        notes = ''
    return pd.Series((location, notes))

df[['LOCATION', 'LOC_NOTES']] = df.LOCATION.apply(location_and_notes)

In [10]:
sorted(df.PROFESSION_EDUCATION.unique())

[' Ship Pilot',
 'Administrator/ Superintendent / ',
 'Business Partner with Antonio Díaz de Cáceres, 1589',
 'Business partner of Díaz de Cáceres, Mines of Taxco',
 'Captain',
 'Captain / Shipowner / Landowner / Merchant',
 'Captain Major Macao -Kochinotsu (1582) / Merchant',
 'Captain Manila Galleon',
 'Governor of Nuevo Reino de León',
 'Housewife',
 'In charge of the royal warehouse of Manila',
 'Merc hant',
 'Merchant',
 'Merchant ',
 'Merchant / Adelman of Manila',
 'Merchant / Alderman of Manila /Ship Pilot',
 'Merchant / Member of the Consulate of Commerce (1594)',
 'Merchant / Mine owner',
 'Merchant / Shipowner/',
 'Merchant / Shipowner/ Miner',
 'Merchant /Agricultor ',
 'Merchant /Alderman Macao',
 'Merchant in the mining area of Pachuca',
 'Merchant os slaves in Cartagena',
 'Merchants',
 'Military commander in Manila',
 'Mine owner',
 'Miner ',
 'Official /Ship Pilot / Shipowner / Merchant',
 'Priest ',
 'Priest / Dean of the Cathedral of Mexico /Merchant',
 'Public officer in Manila',
 'Roman Catholic Priest / Merchant',
 'Ship Pilot',
 'Wife of Diego Hernández Victoria',
 'hosewife',
 'housewife, sister of Luis de Carvajal']

In [26]:
df[df.PROFESSION_EDUCATION=='Governor of Nuevo Reino de León'][['PROFESSION_EDUCATION', 'RELATION']]

              PROFESSION_EDUCATION RELATION
8  Governor of Nuevo Reino de León

In [8]:
def prof_edu_rel_notes(x):
    y = x.PROFESSION_EDUCATION
    z = x.RELATION
    if y == ' Ship Pilot' and z == 'Nephew of Bartolomeu Vaz Landeiro  / Legal Proxy of BVL':
        prof_edu = 'Ship Pilot'
        relation = 'nephew of--Bartolomé Báez Landero, legal proxy of--Bartolomé Báez Landero'
        notes = ''
    elif y == 'Administrator/ Superintendent / ' and z == 'Business Partner of Feliciano Valencia, Antonio Díaz de Cáceres':
        prof_edu = 'Administrator, Superintendent'
        relation = 'partner of--Feliciano Valencia, partner of--Antonio Díaz de Cáceres'
        notes = ''
    elif y == 'Business Partner with Antonio Díaz de Cáceres, 1589' and z == 'Invested 4,000 pesos in the galleon Nuestra Señora de la Concepción bound to Manila, 1589.':
        prof_edu = 'Businessman'
        relation = 'partner of--Antonio Díaz de Cáceres, invested--Nuestra Señora de la Concepción--4000'
        notes = 'Manila, 1589.'
    elif y == 'Business partner of Díaz de Cáceres, Mines of Taxco' and z == 'Invested 1,600 in the ship Nuestra Señora de la Concepción, 1589':
        prof_edu = 'Businessman'
        relation = 'partner of--Antonio Díaz de Cáceres, invested--Nuestra Señora de la Concepción--1600'
        notes = 'Mines of Taxco. Manila, 1589'
    elif y == 'Captain' and z == 'DHV paid 35 pesos to Joan de Alzesa':
        prof_edu = 'Captain'
        relation = 'paid by--Diego Hernández Victoria--35'
        notes = ''
    elif y == 'Captain / Shipowner / Landowner / Merchant' and z == 'Partner of Diego Hernandez Victoria':
        prof_edu = 'Captain, Shipowner, Landowner, Merchant'
        relation = 'partner of--Diego Hernandez Victoria'
        notes = ''
    elif y == 'Captain Major Macao -Kochinotsu (1582) / Merchant' and z == 'Legal Proxy BVL, Business Partner Diego Hernández Victoria,':
        prof_edu = 'Captain-Major, Merchant'
        relation = 'captain-major of--Macao, legal proxy of--Bartolomé Báez Landero, partner of--Diego Hernandez Victoria'
        notes = 'Kochinotsu (1582)'
    elif y == 'Captain Manila Galleon' and z == 'Executor of the will of Diego Hernández Victoria':
        prof_edu = 'Captain'
        relation = 'captain of--Manila Galleon, executor of the will of--Diego Hernández Victoria'
        notes = ''
    elif y == 'Captain Manila Galleon' and z == 'DHV paid a security deposit for property of Luis de Vivanco':
        prof_edu = 'Captain'
        relation = 'captain of--Manila Galleon, paid by--Diego Hernández Victoria--0'
        notes = 'DHV paid a security deposit for property of Luis de Vivanco'
    elif y == 'Governor of Nuevo Reino de León' and z == '':
        prof_edu = 'Governor'
        relation = 'governor of--Nuevo Reino de León'
        notes = ''
    elif y == 'qqq' and z == 'qqq':
        prof_edu = 'qqq'
        relation = 'qqq'
        notes = ''
    elif y == 'qqq' and z == 'qqq':
        prof_edu = 'qqq'
        relation = 'qqq'
        notes = ''
    elif y == 'qqq' and z == 'qqq':
        prof_edu = 'qqq'
        relation = 'qqq'
        notes = ''
    elif y == 'qqq' and z == 'qqq':
        prof_edu = 'qqq'
        relation = 'qqq'
        notes = ''
    elif y == 'qqq' and z == 'qqq':
        prof_edu = 'qqq'
        relation = 'qqq'
        notes = ''
    elif y == 'qqq' and z == 'qqq':
        prof_edu = 'qqq'
        relation = 'qqq'
        notes = ''
    elif y == 'qqq' and z == 'qqq':
        prof_edu = 'qqq'
        relation = 'qqq'
        notes = ''
    elif y == 'qqq' and z == 'qqq':
        prof_edu = 'qqq'
        relation = 'qqq'
        notes = ''
    else:
        prof_edu = x
        notes = ''
    return pd.Series((prof_edu, notes))

df[['PROFESSION_EDUCATION', 'RELATION', 'PROF_EDU_REL_NOTES']] = df.apply(prof_edu_rel_notes)

In [ ]:
df

In [18]:
sorted(df.RELATION.unique())

['',
 'Alonso Castro owns 50 pesos to DHV',
 'Alonso Torres received power of attorney from DHV',
 'Arrived as colonizer with governor Luis de Carvajal (1580)',
 'Brother of Catalina Enriquez. Brother in Law of Manuel de Lucena',
 'Brother of Catalina enriquez. Brother in Law of Manuel de Lucena',
 'Brother-in-law of Diego Hernández Victoria, Executor of his will',
 'Brother-in-law of Jorge de Almeida and Antonio Díaz de Cáceres',
 'Business Partner',
 'Business Partner of Feliciano Valencia, Antonio Díaz de Cáceres',
 'Business Partner with BVL',
 'Business Partner with Diege Hernández Victoria (letter of Joāo de Oliveira 1584)',
 'Business Partner with Joāo Oliveira (1584)',
 'Business Partners with Diego Hernández Victoria',
 'Business partner with Diego Fernandez Victoria',
 'Business partner with Diego Fernandez Victoria [Letter from Canton, 1584]',
 'Captaiin of Bartolomeu Vaz Landeiro, nephew',
 'Cousin of Diego Fernandez Victoria',
 'DHV paid 35 pesos to Joan de Alzesa',
 'DHV paid a security deposit for property of Luis de Vivanco',
 'Diego Hernández Victoria lend him 4,000 pesos',
 'Diego Hernández Victoria paid 790 pesos to pay the Chinese merchants for the trip to Japan',
 'Diego Hernández Victoria recieved 1,300 pesos',
 'Diego Hernández Victoria sent merchandise with him to Francisco de Paz',
 'Executor of the will of Diego Hernández Victoria',
 'Firend of Luis de Carvajal the younger, Antonio Díaz de Cáceres (1593, Acapulco)',
 'Husband of Catalina Enriquez',
 'Invested 1,600 in the ship Nuestra Señora de la Concepción, 1589',
 'Invested 4,000 pesos in the galleon Nuestra Señora de la Concepción bound to Manila, 1589.',
 'Legal Proxy BVL',
 'Legal Proxy BVL, Business Partner Diego Hernández Victoria,',
 'Legal Proxy of BVL',
 'Loss of merchandises with the ship St. Felipe in Nagasaki, 1597. Contaduria 1200, fl 717.',
 'Married to Joge de Almeida',
 'Mother-in-law of Jorge de Almeida and Antonio Díaz de Cáceres',
 'Multiple business partners in Southeast Asia, China, New Spain',
 'Named Diego Hernández Victoria as executor of his will',
 'Nephew of Bartolomeu Vaz Landeiro  / Legal Proxy of BVL',
 'Partner of  Bartolomeu Vaz Landeiro',
 'Partner of Diego Hernandez Victoria',
 'Partner of Fernando de Castro',
 'Partner of Martín de Saravia, Fernando de Castro',
 'Partner with Diego Hernandez Victoria',
 'Partner with Diego Hernandez Victoria; spouse Lucena, Isabel de',
 'Partner with Diego Hernandez Victoria; spouse López Enríquez, Francisco',
 'Partner with Diego Hernández Victoria',
 'Partner with Esteban Rodriguez de Figueroa, his brother',
 'Partner with Joāo Oliveira (1584)',
 'Pilot at the service of Bartolomeu Vaz Landeiro',
 'Salcedo gave 100 bushels (fanegas) of rice to DHV',
 'Servant of Jorge de Almeida',
 'Travelled to  Manila with Antonio Díaz de Cáceres, 1589',
 'Uncle of Tomás de Fonseca and Héctor de Fonseca',
 'Wife of  Antonio Díaz de Cáceres',
 'Wife of Manuel de Lucena']